.signUp__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signUp__wrap {
    margin: 50px 0 20px;
    text-align: center;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signUp__wrap h1{
    font-size: 24px;
}
.signUp__form {
    margin: 20px 0;
}
.signUp__form button {
    width: 100%;
    background: #2196F3;
    color: #fff;
    padding: 3px 5px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.signUp__form__field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.signUp__form__field label{
    font-size: 15px;
    color: #6a6767;
}
.signUp__form__field input{
    width: 100%;
    padding: 3px 5px;
    color: #494949;
    border-radius: 4px;
    margin-bottom: 10px;
}
.signUp__wrap a {
    color: #2196F3;
}